{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary text-white-all">
                <li class="breadcrumb-item"><a href="{% url 'list_page' %}"></i> Asosiy</a></li>
                <li class="breadcrumb-item"><a href="{% url 'whyus' %}">Nima uchun biz</a></li>
            </ol>
        </nav>
        <div class="card">
            {% if why_us %}
             <div class="card-header">
                        <h4>Nima uchun biz</h4>
                    </div>
                {% for why_us in why_us %}
                <div class="card-body">
                    <div class="d-flex justify-content-center mb-4">
                        <img src="{{ why_us.image.url }}" width="500px" height="300px" alt="Rasm">
                    </div>
                    <form action="{% url 'whyus_edit' why_us.uuid %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-4">
                            <div class="form-group col-12">
                                <label>Rasm</label>
                                <input type="file" class="form-control" name="image">
                            </div>
                            <div class="form-group col-6">
                                <label>Inglizcha nomi</label>
                                <input type="text" class="form-control" name="title_en" value="{{ why_us.title_en }}">
                            </div>
                            <div class="form-group col-6">
                                <label>Ruscha nomi</label>
                                <input type="text" class="form-control" name="title_ru" value="{{ why_us.title_ru }}">
                            </div>
                            <div class="form-group col-6">
                                <label>Fransuzcha nomi</label>
                                <input type="text" class="form-control" name="title_fr" value="{{ why_us.title_fr }}">
                            </div>
                            <div class="form-group col-6">
                                <label>Nemischa nomi</label>
                                <input type="text" class="form-control" name="title_de" value="{{ why_us.title_de }}">
                            </div>
                            <div class="form-group col-6">
                                <label>Ispancha nomi</label>
                                <input type="text" class="form-control" name="title_es" value="{{ why_us.title_es }}">
                            </div>
                            <div class="form-group col-6">
                                <label>Tahrirlangan sana</label>
                                <input type="text" class="form-control" value="{{ why_us.updated_at|date:'Y-m-d H:i' }}" readonly>
                            </div>
                            <div class="form-group col-6">
                                <label>Inglizcha tavsifi</label>
                                <textarea class="summernote" name="content_en">{{ why_us.content_en }}</textarea>
                            </div>
                            <div class="form-group col-6">
                                <label>Ruscha tavsifi</label>
                                <textarea class="summernote" name="content_ru">{{ why_us.content_ru }}</textarea>
                            </div>
                            <div class="form-group col-6">
                                <label>Fransuzcha tavsifi</label>
                                <textarea class="summernote" name="content_fr">{{ why_us.content_fr }}</textarea>
                            </div>
                            <div class="form-group col-6">
                                <label>Nemischa tavsifi</label>
                                <textarea class="summernote" name="content_de">{{ why_us.content_de }}</textarea>
                            </div>
                            <div class="form-group col-12">
                                <label>Ispancha tavsifi</label>
                                <textarea class="summernote" name="content_es">{{ why_us.content_es }}</textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary"><i class="ion-android-cloud-done"></i> Saqlash</button>
                        </div>
                    </form>
                </div>
                {% endfor %}

            {% else %}
              <div class="card-header">
                        <h4>Ozimiz haqida</h4>
                        <div class="card-header-action">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                                <i class="ion-plus"></i> Yaratish
                            </button>
                        </div>
                    </div>
                 <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="{% static 'img/image.png' %}" alt="" style="width: 50%; height: 50%; object-fit: cover;">
                <h5 class="pb-4">Malumot topilmadi</h5>
                </div>
            {% endif %}
        </div>
    </div>
</section>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{% url 'whyus_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Ozimiz haqida yaratish</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Rasm</label>
                        <input type="file" class="form-control" name="image" required>
                    </div>
                    <div class="form-group">
                        <label>Inglizcha nomi</label>
                        <input type="text" class="form-control" name="title_en" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Inglizcha tavsifi</label>
                        <textarea class="summernote" name="content_en"></textarea>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="ion-plus"></i> Yaratish</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

