{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary text-white-all">
                <li class="breadcrumb-item"><a href="{% url 'list_page' %}"></i> Asosiy</a></li>
                <li class="breadcrumb-item"><a href="#">Ijtimoiy tarmoqlar</a></li>
            </ol>
        </nav>
        <div class="card">
            {% if social %}
            
                <div class="card-header">
                        <h4>Ijtimoiy tarmoqlar</h4>
                        
                    </div>
                
                {% for social in social %}

                <div class="card-body">
                    
                    <form action="{% url 'social_edit' social.uuid %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-4">
                           
                            <div class="form-group col-md-6">
                                <label>Instagram</label>
                                <input type="text" class="form-control" name="instagram" value="{{ social.instagram }}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telegram</label>
                                <input type="text" class="form-control" name="telegram" value="{{ social.telegram }}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Whatsapp</label>
                                <input type="text" class="form-control" name="whatsapp" value="{{ social.whatsapp }}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Gmail</label>
                                <input type="email" class="form-control" name="gmail" value="{{ social.gmail }}" required>
                            </div>
                            
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary"><i class="ion-android-cloud-done"></i> Saqlash</button>
                        </div>
                    </form>
                </div>
                {% endfor %}

            {% else %}
            <div class="card-header">
                        <h4>Ijtimoiy tarmoqlar</h4>
                        <div class="card-header-action">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                                <i class="ion-plus"></i> Yaratish
                            </button>
                        </div>
                    </div>
                
                <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="{% static 'img/image.png' %}" alt="" style="width: 50%; height: 50%; object-fit: cover;">
                <h5 class="pb-4">Malumot topilmadi</h5>
                </div>

            {% endif %}
        </div>
    </div>
</section>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{% url 'social_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Ijtimoiy tarmoq yaratish</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Instagram</label>
                            <input type="text" class="form-control" name="instagram"  required>
                        </div><br>
                        <div class="col-md-12">
                            <label>Telegram</label>
                            <input type="text" class="form-control" name="telegram" required>
                        </div><br>
                        <div class="col-md-12">
                            <label>Whatsapp</label>
                            <input type="text" class="form-control" name="whatsapp"  required>
                        </div><br>
                        <div class="col-md-12">
                            <label>Gmail</label>
                            <input type="email" class="form-control" name="gmail"  required>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="ion-plus"></i> Yaratish</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}




