{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-primary text-white-all">
            <li class="breadcrumb-item"><a href="{% url 'list_page' %}"></i> Asosiy</a></li>
            <li class="breadcrumb-item"><a href="{% url 'comment_list' %}"> Izoxlar ro'yxati</a></li>
            <li class="breadcrumb-item">Izox</li>
          </ol>
        </nav>
        <div class="card">
            <div class="card-header">
              <h4>Izox tafsilotlari</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center mb-4">
                    <img src="{{ comment.image.url }}" width="110px" height="110px" alt="rasm" style="border-radius: 50%; object-fit: cover;">
                </div>
                <form action="{% url 'comment_update' comment.uuid %}" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <div class="row mb-4">
                        <div class="form-group col-md-12">
                            <label>Rasm</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                        <div class="form-group col-md-6">
                            <label>F.I.O</label>
                            <input type="text" class="form-control" value="{{comment.fullname}}" name='fullname'>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tahrirlangan sana</label>
                            <input type="text" class="form-control" value="{{comment.updated_at|date:'Y-m-d H:i'}}" readonly>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Izox</label>
                            <textarea class="summernote" name="text">{{ comment.text }}</textarea >
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary text-right"><i class="ion-android-cloud-done"></i> Saqlash</button>
                    </div>
                </form>
            </div>
          </div>
    </div>
</section>


{% endblock content %}
