{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary text-white-all">
                <li class="breadcrumb-item"><a href="#">Asosiy</a></li>
                <li class="breadcrumb-item"><a href="{% url 'tradition_list' %}">An'analar ro'yxati</a></li>
                <li class="breadcrumb-item">An'ana</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header">
                <h4>An'ana tafsilotlari</h4>
            </div>
            <div class="card-body">
                
                <form action="{% url 'tradition_edit' tradition.uuid %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row mb-4">
                        
                        <div class="form-group col-6">
                            <label>Inglizcha nomi</label>
                            <input type="text" class="form-control" value="{{ tradition.title_en }}" name="title_en">
                        </div>
                        <div class="form-group col-6">
                            <label>Ruscha nomi</label>
                            <input type="text" class="form-control" value="{{ tradition.title_ru }}" name="title_ru">
                        </div>
                        <div class="form-group col-6">
                            <label>Fransuzcha nomi</label>
                            <input type="text" class="form-control" value="{{ tradition.title_fr }}" name="title_fr">
                        </div>
                        <div class="form-group col-6">
                            <label>Nemischa nomi</label>
                            <input type="text" class="form-control" value="{{ tradition.title_de }}" name="title_de">
                        </div>
                        <div class="form-group col-6">
                            <label>Ispancha nomi</label>
                            <input type="text" class="form-control" value="{{ tradition.title_es }}" name="title_es">
                        </div>


                        <div class="form-group col-6">
                            <label>Inglizcha subtitri</label>
                            <input type="text" class="form-control" value="{{ tradition.title_en }}" name="subtitle_en">
                        </div>
                        <div class="form-group col-6">
                            <label>Ruscha subtitri</label>
                            <input type="text" class="form-control" value="{{ tradition.title_ru }}" name="subtitle_ru">
                        </div>
                        <div class="form-group col-6">
                            <label>Fransuzcha subtitri</label>
                            <input type="text" class="form-control" value="{{ tradition.title_fr }}" name="subtitle_fr">
                        </div>
                        <div class="form-group col-6">
                            <label>Nemischa subtitri</label>
                            <input type="text" class="form-control" value="{{ tradition.title_de }}" name="subtitle_de">
                        </div>
                        <div class="form-group col-6">
                            <label>Ispancha subtitri</label>
                            <input type="text" class="form-control" value="{{ tradition.title_es }}" name="subtitle_es">
                        </div>

                        <div class="form-group col-6">
                            <label>Inglizcha tavsifi</label>
                            <textarea class="summernote" name="content_en">{{tradition.content_en}}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Ruscha tavsifi</label>
                            <textarea class="summernote" name="content_ru">{{tradition.content_ru}}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Fransuzcha tavsifi</label>
                            <textarea class="summernote" name="content_fr">{{tradition.content_fr}}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Nemischa tavsifi</label>
                            <textarea class="summernote" name="content_de">{{tradition.content_de}}</textarea >
                        </div>
                        <div class="form-group col-12">
                            <label>Ispancha tavsifi</label>
                            <textarea class="summernote" name="content_es">{{tradition.content_es}}</textarea >
                        </div>
                      
                    </div>
                        
                   <div class="text-right">
                        <button class="btn btn-primary text-right"><i class="ion-android-cloud-done"></i> Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
