{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-primary text-white-all">
            <li class="breadcrumb-item"><a href="#"></i> Asosiy</a></li>
            <li class="breadcrumb-item"><a href="#"> An'analar ro'yxati</a></li>
          </ol>
        </nav>
        <div class="card">
            <div class="card-header">
                <h4>An'analar ro'yxati</h4>
                <div class="card-header-action">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#basicModal">
                    <i class="ion-plus"></i> Yaratish
                </a>
                </div>
            </div>
            <div class="card-body">
              {% if traditions %}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="text-center">Inglizcha nomi</th>
                    <th class="text-center">Inglizcha subtitr</th>
                    <th class="text-center">Harakatlar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tradition in traditions %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="text-center">{{tradition.subtitle_en}}</td>
                    <td class="text-center">{{ tradition.title_en }}</td>
                    <td class="text-center">
                        <a href="{% url 'tradition_detail' tradition.uuid %}" class="btn btn-warning"><i class="ion-android-create"></i></a>
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-{{ tradition.uuid }}"><i class="ion-android-delete"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% else %}
              <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="{% static 'image.png' %}" alt="" style="width: 50%; height: 50%; object-fit: cover;">
                <h5 class="pb-4">Malumot topilmadi</h5>
              </div>
            {% endif %}
          </div>
        </div>
    </div>
</section>


{% for tradition in traditions %}
<div class="modal fade" id="deleteModal-{{ tradition.uuid }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">An'ana</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'tradition_delete' tradition.uuid %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <h5>An'ana o'chirilsinmi?</h5>
        </div>
        <div class="modal-footer bg-whitesmoke br">
          <button type="submit" class="btn btn-danger"><i class="ion-android-delete"></i> O'chirish</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}



<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">An'ana yaratish</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'traditions_create' %}" method="post" >
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <label>Inglizcha nom</label>
                <input type="text" class="form-control" name="title_en">
            </div>
          <div class="form-group">
            <label>Inglizcha Subtitr</label>
            <input type="text" class="form-control" name="subtitle_en">
          </div>
         
          <div class="form-group">
              <label>Inglizcha tavsif</label>
              <textarea class="summernote" name="content_en"></textarea>
          </div>
        </div>
        <div class="modal-footer bg-whitesmoke br">
          <button type="submit" class="btn btn-primary"><i class="ion-plus"></i> Yaratish</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
