{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-primary text-white-all">
            <li class="breadcrumb-item"><a href="{% url 'list_page' %}"></i> Asosiy</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blog ro'yxati</a></li>
            <li class="breadcrumb-item">Blog</li>
          </ol>
        </nav>
        <div class="card">
            <div class="card-header">
              <h4>Blog tafsilotlari</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center mb-4">
                    <img src="{{blog.image.url}}" width="500px" height="300px" alt="rasm">
                </div>
                <form action="{% url 'blog_edit' blog.uuid %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row mb-4">
                        <div class="form-group col-12">
                            <label>Rasm</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                        <div class="form-group col-6">
                            <label>Inglizcha nomi</label>
                            <input type="text" class="form-control" value="{{blog.title_en}}" name="title_en">
                        </div>
                        <div class="form-group col-6">
                            <label>Ruscha nomi</label>
                            <input type="text" class="form-control" value="{{blog.title_ru}}" name="title_ru">
                        </div>
                        <div class="form-group col-6">
                            <label>Fransuzcha nomi</label>
                            <input type="text" class="form-control" value="{{blog.title_fr}}" name="title_fr">
                        </div>
                        <div class="form-group col-6">
                            <label>Nemischa nomi</label>
                            <input type="text" class="form-control" value="{{blog.title_de}}" name="title_de">
                        </div>
                        <div class="form-group col-6">
                            <label>Ispancha nomi</label>
                            <input type="text" class="form-control" value="{{blog.title_es}}" name="title_es">
                        </div>
                        <div class="form-group col-6">
                            <label>Yaratilgan sana</label>
                            <input type="text" class="form-control" value="{{blog.created_at}}" readonly>
                        </div>
                        <div class="form-group col-6">
                            <label>Inglizcha tavsifi</label>
                            <textarea class="summernote" name="description_en">{{blog.description_en}}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Ruscha tavsifi</label>
                            <textarea class="summernote" name="description_ru">{{blog.description_ru}}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Fransuzcha tavsifi</label>
                            <textarea class="summernote" name="description_fr">{{blog.description_fr}}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Nemischa tavsifi</label>
                            <textarea class="summernote" name="description_de">{{blog.description_de}}</textarea >
                        </div>
                        <div class="form-group col-12">
                            <label>Ispancha tavsifi</label>
                            <textarea class="summernote" name="description_es">{{blog.description_es}}</textarea >
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary text-right"><i class="ion-android-cloud-done"></i> Saqlash</button>
                    </div>
                </form>
            </div>
          </div>
    </div>
</section>


{% endblock content %}
