{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-primary text-white-all">
            <li class="breadcrumb-item"><a href="{% url 'list_page' %}"></i> Asosiy</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_page' %}"> (model nomi) ro'yxati</a></li>
            <li class="breadcrumb-item">(model nomi)</li>
          </ol>
        </nav>
        <div class="card">
            <div class="card-header">
              <h4>(model nomi) tafsilotlari</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center mb-4">
                    <img src="{% static 'pexels-photo-12407395.jpeg' %}" width="500px" height="300px" alt="rasm">
                </div>
                <div class="row mb-4">
                    <div class="form-group col-12">
                        <label>Rasm</label>
                        <input type="file" class="form-control" value="o'zini malumoti">
                    </div>
                    <div class="form-group col-6">
                        <label>Inglizcha nomi</label>
                        <input type="text" class="form-control" value="o'zini malumoti">
                    </div>
                    <div class="form-group col-6">
                        <label>Ruscha nomi</label>
                        <input type="text" class="form-control" value="o'zini malumoti">
                    </div>
                    <div class="form-group col-6">
                        <label>Fransuzcha nomi</label>
                        <input type="text" class="form-control" value="o'zini malumoti">
                    </div>
                    <div class="form-group col-6">
                        <label>Nemischa nomi</label>
                        <input type="text" class="form-control" value="o'zini malumoti">
                    </div>
                    <div class="form-group col-6">
                        <label>Ispancha nomi</label>
                        <input type="text" class="form-control" value="o'zini malumoti">
                    </div>
                    <div class="form-group col-6">
                        <label>Yaratilgan sana</label>
                        <input type="text" class="form-control" value="o'zini malumoti">
                    </div>
                    <div class="form-group col-6">
                        <label>Inglizcha tavsifi</label>
                        <textarea class="summernote">O'zini malumoti</textarea >
                    </div>
                    <div class="form-group col-6">
                        <label>Ruscha tavsifi</label>
                        <textarea class="summernote">O'zini malumoti</textarea >
                    </div>
                    <div class="form-group col-6">
                        <label>Fransuzcha tavsifi</label>
                        <textarea class="summernote">O'zini malumoti</textarea >
                    </div>
                    <div class="form-group col-6">
                        <label>Nemischa tavsifi</label>
                        <textarea class="summernote">O'zini malumoti</textarea >
                    </div>
                    <div class="form-group col-12">
                        <label>Ispancha tavsifi</label>
                        <textarea class="summernote">O'zini malumoti</textarea >
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary text-right"><i class="ion-android-cloud-done"></i> Saqlash</button>
                </div>
            </div>
          </div>
    </div>
</section>


{% endblock content %}
