{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section">
    <div class="section-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-primary text-white-all">
            <li class="breadcrumb-item"><a href="{% url 'list_page' %}"></i> Asosiy</a></li>
            <li class="breadcrumb-item"><a href="{% url 'trip_detail' trip.uuid %}"> Xizmatlar ro'yxati</a></li>
            <li class="breadcrumb-item">Xizmat</li>
          </ol>
        </nav>
        <div class="card">
            <div class="card-header">
              <h4>Xizmat tafsilotlari</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center mb-4">
                    <img src="{{ service.image.url }}" width="500px" height="300px" alt="rasm">
                </div>
                <form method="post" action="{% url 'service_update' service.uuid %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-4">
                        <div class="form-group col-12">
                            <label>Rasm</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                        <div class="form-group col-6">
                            <label>Inglizcha nomi</label>
                            <input type="text" class="form-control" value="{{service.title_en}}" name="title_en">
                        </div>
                        <div class="form-group col-6">
                            <label>Ruscha nomi</label>
                            <input type="text" class="form-control" value="{{service.title_ru}}" name="title_ru">
                        </div>
                        <div class="form-group col-6">
                            <label>Fransuzcha nomi</label>
                            <input type="text" class="form-control" value="{{service.title_fr}}" name="title_fr">
                        </div>
                        <div class="form-group col-6">
                            <label>Nemischa nomi</label>
                            <input type="text" class="form-control" value="{{service.title_de}}" name="title_de">
                        </div>
                        <div class="form-group col-6">
                            <label>Ispancha nomi</label>
                            <input type="text" class="form-control" value="{{service.title_es}}" name="title_es">
                        </div>
                        <div class="form-group col-6">
                            <label>Tahrirlangan sana</label>
                            <input type="text" class="form-control" value="{{service.updated_at |date:'Y-m-d H:i'}}" name="updated_at">
                        </div>
                        <div class="form-group col-6">
                            <label>Inglizcha tavsifi</label>
                            <textarea class="summernote" name="content_en">{{ service.content_en }}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Ruscha tavsifi</label>
                            <textarea class="summernote" name="content_ru">{{ service.content_ru }}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Fransuzcha tavsifi</label>
                            <textarea class="summernote" name="content_fr">{{ service.content_fr }}</textarea >
                        </div>
                        <div class="form-group col-6">
                            <label>Nemischa tavsifi</label>
                            <textarea class="summernote" name="content_de">{{ service.content_de }}</textarea >
                        </div>
                        <div class="form-group col-12">
                            <label>Ispancha tavsifi</label>
                            <textarea class="summernote" name="content_es">{{ service.content_es }}</textarea >
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary text-right">
                            <i class="ion-android-cloud-done"></i> Saqlash
                        </button>
                    </div>
                </form>
            </div>
          </div>
    </div>
</section>


{% endblock content %}
