{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section">
  <div class="section-body">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
            <li class="breadcrumb-item"><a href="{% url 'list_page' %}"></i> Asosiy</a></li>
            <li class="breadcrumb-item"><a href="#">Buyurtmalar ro'yxati</a></li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header">
            <h4>Buyurtmalar ro'yxati</h4>
        </div>
    <div class="card-body">
      {% if trip_orders %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">F.I.Sh.</th>
            <th class="text-center">Telefon</th>
            <th class="text-center">O'qilganmi</th>
          </tr>
        </thead>
        <tbody>
          {% for order in trip_orders %}
              <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ order.fullname }}</td>
                <td class="text-center">{{ order.phone }}</td>
                <td class="text-center">
                  <form method="post" action="{% url 'mark_as_read' order.uuid %}">
                        {% csrf_token %}
                        <input type="checkbox" name="is_read" onchange="this.form.submit()" {% if order.is_read %}checked{% endif %}>
                  </form>
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="{% static 'img/image.png' %}" alt="" style="width: 50%; height: 50%; object-fit: cover;">
                <h5 class="pb-4">Ma'lumot topilmadi</h5>
              </div>
        {% endif %}
    </div>
</div>
  </div>
</section>



{% endblock content %}